#pelis {
    text-align: center;
  }

#series {
  text-align: center;
}

#serie {
  text-align: center;
}

td {
  border: none;
}

#titulo {
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

article {
  padding-bottom: 5%;
}